.container-fluid
  %h1 Landing Page
  = link_to privacy_policy_path, class: "btn btn-warning" do
    %i.fas.fa-file-word
    Privacy Policy
  = link_to courses_path, class: 'btn btn-success ml-2' do
    .fa.fa-book
      Course