<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div aria-atomic="true" aria-live="assertive" class="position-relative">
      <div class="toast-body position-absolute top-0 end-0" style="z-index: 5">
        <div class="alert alert-dismissible fade show alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %>" role="alert">
          <div aria-hidden="true" aria-label="Close" class="btn-close btn-sm" data-bs-dismiss="alert" type="button"></div>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>