<h1>
  Courses:
  <%= @courses.count %>
</h1>

<section class="wrapper">
  <div class="container">
    <div class="row">
      <% @courses.each do |course| %>
        <%= render 'courses/course', course: course %>
      <% end %>
    </div>
  </div>
</section>