<div class="row justify-content-center">
  <div class="mb-3">
    <%= link_to 'Courses', course_path %> \
    <%= link_to @course.title, course_path(@course) %>
  </div>
  <%= render 'courses/course', course: @course %>
</div>
